# Conventional location for output executables
/bin/
# Where the Android NDK dumps output executables
/libs/
# Conventional location for intermediate build files
/obj/
# Used for overriding portions of a Makefile
local.mk
# Python 3 cache files
__pycache__/
# Python 2 cache files
*.pyc
# Temporary files for a particular editor
*.swp
